---
---

@import "{{ site.theme }}";

#header_wrap {
  background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
                    url("/assets/images/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#header_wrap .inner {
  padding: 80px 10px 60px 10px;
}
